<div class="container mt-3">
<h1>Add recipe to <%=  @category.name.downcase %> list</h1>

<%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :recipe %>
  <div class="mt-3">
     <%= f.button :submit, "Add Recipe", class: "btn-primary" %>
     <%= link_to 'Back', @category, class: "btn btn-secondary ms-2" %>
  </div>
<% end %>
</div>






